header {
  /* Descendants: */
  display: flex;
  flex-direction: column;
}

.header-title {
  font-family: var(--font-harry-potter);
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

.title-and-scores {
  /* Descendants: */
  display: flex;
  justify-content: space-between;
}

.scores {
  font-family: var(--font-godfather);
  letter-spacing: 0.3rem;
  font-size: 2rem;

  /* Descendants: */
  display: flex;
  flex-direction: column;
}

.colon {
  display: inline-block;
  transform: translate(3px, 5px);
}

.game-rules {
  font-size: 1.1rem;
}

main {
  /* Descendants: */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  height: 265px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  z-index: 1;
}

.card img,
.card iframe {
  height: 80%;
  width: 100%;
}

.card:hover {
  transform: scale(1.35);
  z-index: 10;
}
